/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
        url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-800italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Page */
.page {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    min-width: 333px;
}

.page__inner {
    display: block;
}

.page__inner_intro {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.page__inner_grey {
    background-color: #f6f2f2;
}

.page__header {
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1249px;
    min-height: 89px; 
     
}

.img-logo {
    height: 50px;
    margin-top: 20px;
}

.icon-page {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; 
}

.txt-logo {
    max-width: 1249px;
    margin-left: 22px;
    margin-top: 17px;
    /* font-size: clamp(2em, 2em + 2vw, 60px); */
    font-variation-settings: "wght" 800;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-social__link {
    display: flex;
    flex-wrap: wrap;
    max-width: 1249px; 
}

.social__link {
    display: block;
    display: flex;
    gap: 18px;
    height: 57px;
    margin-top: 12px;
    margin-left: 25px;
}

/* Main */
/* Intro */
.page__inner_section {
    padding: 0 1vw;
    padding-top: 60px;
    padding-bottom: 60px;
}

.page__inner_grey {
    background-color: #f6f2f2;
}

.page__inner {
    display: block;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 1249px;
    margin: 0 auto;
    justify-content: space-between;
}

@media screen and (min-width: 800px) and (max-width: 1240px) {
    .intro {
        flex-wrap: nowrap;  
    } 
}

.intro__products {
    display: flex;
    flex-wrap: wrap;
}


.intro__product {
    width: 502px;
    height: 477px;
    object-fit: cover;
}

@media screen and (max-width: 1240px) {
    .intro__product {
        width: 95%;
    }
}

.intro__info {
    max-width: 595px;
    margin-block: 40px;
    
}

.intro__heading {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(2em, 2em + 2vw, 60px);
    font-variation-settings: "wght" 700;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.intro__txt {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 40px;
}

.action-link {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    padding: 0.5em 1em;
    min-height: 55px;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 40px;
    margin-block: 70px;
    background-color: #9907da;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .action-link {
        margin-bottom: auto;
        margin-block: auto;
    }
}


/* Servives */
.services {
    display: flex;
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 110px;
    padding-bottom: 100px;
    border-bottom: 2px solid #ECECEC;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__info {
    margin: 0;
    margin-bottom: 29px;
}

.services__heading {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    margin-bottom: 35px;
    display: flex;
    font-size: clamp(2em, 2em + 2vw, 48px);
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.services__about {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.services__items {
    min-width: 56px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 10px;
}

.services__item {
    width: 300px;
    margin-bottom: 10px;
    padding-top: 10px;
    background-size: auto;
 }

.services__item_icon_manag {
    display: block;
    /* height: 190px; */
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.10);
    object-position: 67% 67%;
    object-fit: cover;
 }

.services__item_icon_design {
    display: block;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.10);
    object-position: 20% 67%;
    object-fit: cover;
 }
 
.services__item_icon_logo {
    display: block;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.10);
    object-position: 34% 67%;
    object-fit: cover;
 }
  
.services__item_icon_anim {
    display: block;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.10);
    object-position: 54% 67%;
    object-fit: cover;
 }

 .hor-line {
    width: 50px;
    height: 2px;
    margin: 0;
    background-color: #E74040;
    border: none;
 }

 .services__title {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
 }

 .services__txt {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
 }

 /* services video */
 .feature {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 65px;
    max-width: 1249px;
}

.feature__color {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(0deg, #9907da 30%, transparent 65%);
    padding: 121px 0 152px;
    box-sizing: border-box;
    display: block;
    text-align: left;
}

.feature__header {
    margin-bottom: 50px;
    padding: 0 1vw;
}

.feature__heading {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    font-size: clamp(2em, 2em + 2vw, 48px);
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.feature__about {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 34px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}

.feature__video {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 1249px;
    margin: 0 auto;
    justify-content: space-between;
    object-fit: cover;
    width: 900px;
    height: 500px;
}

@media screen and (max-width: 1240px) {
    .feature__video {
        width: 95%;
    }
}

/* Examples */
.examples {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 121px;
    padding-bottom: 127px;;
    text-align: center;
    max-width: 1249px;
}

.examples__header {
    margin-bottom: 67px;
    padding: 0 1vw;
}

.examples__heading {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(2em, 2em + 2vw, 48px);
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
    text-transform: uppercase; 
}

.examples__about {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* width: 537px; */
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 34px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}

.hor-line_center {
    width: 130px;
    height: 2px;
    background-color: #FF2D2D;
    border: none;
}

.examples__products {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0px 1vw; 
}

.examples__product {
    object-fit: cover;
    object-position: 23% 43%;
    flex: 1 1;
}

/* Contact */
.contact {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(270deg, #9907da 43%, transparent 43%);
}

@media screen and (max-width: 1248px) {
    .contact  {
        background: linear-gradient(0deg, #9907da 43%, transparent 43%);
    } 
}

.contact__header {
    max-width: 1249px;
    margin: 0 auto;
    margin-bottom: 77px;
    padding: 0 1vw
}

@media screen and (max-width: 1248px) {
    .contact__header {
        margin: 0; 
        text-align: center;
    }
}

.contact__heardang {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(2em, 1em + 2vw, 48px);
    font-weight: 700;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.contact__body {
    display: grid;
    grid-template-columns: 1fr 450px 450px 364px 1fr;
    grid-template-rows: auto;
}


@media screen and (max-width: 1248px) {
    .contact__body {
        grid-template-columns: 1fr auto 1fr;
        row-gap: 19px;
    }
}


.contact__form {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1px;
    grid-column: 2 / 3;
}

@media screen and (max-width: 1248px) {
    .contact__form {
        grid-column: 2 / 3;
        margin-right: initial;  
    }
}

.contact__name {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding: 31px 51px;
    margin-right: 53px;
    margin-bottom: 44px;
    font-size: 16px;  
}

@media screen and (max-width: 1248px) {
    .contact__name {
        width: 100%;
        margin-right: initial; 
    } 
}

.contact__emailec {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding: 31px 51px;
    margin-bottom: 44px;
}

.contact__textarea {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    resize: none;
    width: 340px;
    height: 175px;
    border: none;
    padding: 31px 51px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 44px;
}

.contact__button {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    width: 340px;
    height: 72px;
    border: none;
    border-radius: 5px;
    background-color: #9907da;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}

.contacts-maps {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 38px;
    display: block;
    grid-column: 3 / 4;
}

@media screen and (max-width: 1248px) {
    .contacts-maps {
        grid-column: 1 / 4;
        max-width: -webkit-fill-available; 
    }
}

.contacts-feedback {
    width: 315px;
    padding: 88px 14px 137px 40px; 
    color: #fff;
    grid-column: 4 / 5;
}

@media screen and (max-width: 1248px) {
    .contacts-feedback {
        grid-column: 4 / 2;
        max-width: -webkit-fill-available;
    }
}

.contacts__address {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.75;
    font-size: 20px;
    margin: 0;
    margin-bottom: 27px;
}

.contacts__email {
    display: block;
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px; 
}

.contacts__tel {
    display: block;
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 18px;
}

/* Footer */
.footer {
    padding: 0 1vw;
}

.footer__contenet {
    box-sizing: border-box;
    padding: 19px 0 0;
    min-height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
}

.footer__coperight {
    margin: 0;
    padding: 44px 0 0;
}

.footer__social-link {
    display: flex;
    gap: 5px;
    margin-top: 12px;
}

/* active-link */
